.service__wrapper {
  margin-top: 81px;
  display: flex;
  justify-content: space-between;
}
.service__card {
  max-width: 295px;
  border: 1px solid #e6e6e6;
  background: #fff;
}

.service__icon{
    margin-top: 38px;
}

.service__title {
  color: #48555b;
  max-width: 250px;
  margin-top: 21px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.427px;
}

.service__text {
  color: #48555b;
  max-width: 250px;
  font-size: 13px;
  margin-top: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.188px;
}
